<h1><%= @task.title %></h1>

<div>
  <p>Details: <%= @task.details %></p>
</div>

<div>
  <p><%if @task.completed%>
  This task is completed
  <%else%>
  This task is not completed
  <%end%>
  </p>
</div>

<div style="margin: 30px auto">
  <div type="button" class="btn btn-outline-secondary">
      <%= link_to 'Edit this task', edit_task_path(@task) %>
  </div>

  <div type="button" class="btn btn-outline-danger">
    <%= link_to "Delete",
      task_path(@task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>
</div>

<div type="button" class="btn btn-outline-primary">
    <%= link_to 'All tasks', tasks_path %>
</div>
